html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F8FA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}
textarea,
input{
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar {
  height: 100%;
}

.chatbox {
  width: 87%;
}

.shadow-border {
  border-color: #f0f2f5;
  border-width: 2px;
  border-radius: 20px;
}

.bot {
  font-size: 200px;
  box-shadow: 0px 0px 1px 1px rgba(240,242,245,0.7);
  -webkit-box-shadow: 0px 0px 1px 1px rgba(240,242,245,0.7);
  -moz-box-shadow: 0px 0px 1px 1px rgba(240,242,245,0.7);
}

.bot-name-text {
  font-size: 16px;
  color: #0d2d46
}

.bot-text {
  font-size: 15px;
}


.other {
  background-color: transparent;
  border: none;
  
}

.message {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  font-size: 14px;
  max-width: 600px;
  min-width: 600px;
}

.message-container {
  height: 65vh;
  overflow: auto;
  scroll-behavior: smooth;
}

.message-list {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 17px;
}

.card-header {
  background-color: transparent;
}

.card-footer {
  background-color: transparent;
  display: flex;
  justify-content: end;
  padding-right: 0;
}

.no-border {
  border: 0;
  box-shadow: none;
}

.top-bottom-overflow-fade {
  mask-image: linear-gradient(transparent, black 10%, black 95%, transparent 100%);
  -webkit-mask-image: linear-gradient(transparent, black 10%, black 95%, transparent 100%);
}

.input-box {
  min-width: 600px;
  border-color: #f0f2f5;
  border-width: 2px;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.07);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.07);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.07);
}

.button-as-text {
  background: none;
  border: none;
  cursor: pointer;
}

.button-as-text.active {
  background-color: white;
  border-color: #f0f2f5;
  border-width: 2px;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.07);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.07);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.07);
}

.background-gradient {
  background: radial-gradient(ellipse at bottom,#e6edff 5%,#e6edff -40%,white 50%);
}

.date-separator span {
  color: #666f8d;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
}

.date-separator span::before,
.date-separator span::after {
  background-color: lightgray;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.date-separator span::before {

  right: 0.5em;
  margin-left: -50%;
}

.date-separator span::after {
  left: 0.5em;
  margin-right: -50%;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid;
}

.bottom-image {
  position: absolute;
  bottom: 10px;
  left: 12px; 
  width: 201px;
  height: 48px;
}

.icons {
  color: #0d2d46;
}

.small-sidebar {
  padding-left: 30px;
  padding-top: 30px;
}


@media (max-width: 912px) {

  .input-box {
    min-width: 600px;
  }

  .message-container {
    height: 52.5vh;
    overflow: auto;
    scroll-behavior: smooth;
  }

  .chatbox {
    width: 96%;
  }

  #mainCard {
    margin-top: 60px;
  }
  
}

@media (max-width: 767px) {
  .message {
    width: auto;
    min-width: 80%;
    max-width: 80%;

  }

  .chatbox {
    width: 94%;
  }

  .input-box {
    width: auto;
    min-width: 80%;

  }

  .message-container {
    height: 60vh;
    overflow: auto;
    scroll-behavior: smooth;
  }

  .message-list {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 3px;
  }
}